<div class='index'>
  <h1><%= @content_first.content.title %></h1>
  <div class='blue_pages'>
    <%= render :partial => 'commons/chief', :locals => { :object => @content_first.content.items.first } if @content_first.content.items %>
    <%= render :partial => 'commons/department_info', :locals => { :object => @content_first.content } %>
    <%= render :partial => 'commons/department_employees', :locals => { :object => @content_first.content } if @content_first.content.items %>
    <% if @content_first.content.subdivisions %>
      <h2>Подразделения</h2>
      <%= render :partial => 'commons/subdivisions', :locals => { :object => @content_first.content } %>
    <% end %>
  </div>
</div>
<%= render 'commons/social_links' %>
