<h1><%= @page_title %></h1>

<div class="clearfix">
  <div class='left index'>
    <%= render_partial_for_region(@content_first) if @content_first %>
    <%= render_partial_for_region(@content_second) if @content_second %>
    <%= render_partial_for_region(@content_third, 'experts_council') if @content_third %>
  </div>
  <div class='right'>
    <%= render :partial => 'regions/experts_council_chief', :locals => { :object => @content_second.content.items.first } %>
    <%= render :partial => 'regions/protocols' %>
  </div>
</div>

<%= render 'commons/social_links' %>
