<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      На сайте Экспертных советов при заместителях Губернатора Томской области, с помощью формы обратной связи пользователь
      <%= @request.name %> оставил вопрос:
    </p>

    <%= simple_format @request.message %>

    <p>
      Для связи с <%= @request.name %> используйте электронную почту: <%= @request.email %>
      <%= @request.phone? ? "или телефон: #{@request.phone}" : nil %>
    </p>
  </body>
</html>
