<div class='index'>
  <h1>
    <%= "#{object.surname} #{object.name} #{object.patronymic}" %>
    <span class='item_title'><%= object.title.to_s.as_html %></span>
  </h1>

  <div class='blue_pages'>
    <div class='dossie'>
      <%= object.dossier.to_s.as_html %>
    </div>
    <div class="right">
      <%= render :partial => 'regions/right_side' %>
      <%= render :partial => 'commons/chief', :locals => { :object => object } %>
    </div>
  </div>
</div>
