<div class='show_chief'>
  <%= content_tag :div, :class => 'title' do %>
    <%= object.title.to_s.as_html %>
  <% end %>

  <% if object.image_url %>
    <%= link_to object.image_url, :class => :colorbox do %>
      <%= image_tag resized_image_url(object.image_url, 217, 290), :size => '217x290', :alt => "#{object.surname} #{object.name} #{object.patronymic}" %>
    <% end %>
  <% else %>
    <%= image_tag image_path('dummy.png'), :size => '217x290' %>
  <% end %>

  <div class='fio'>
    <% if object.link %>
      <%= link_to object.person.sub(/\s/, "<br />").html_safe, object.link %>
    <% elsif object.person %>
      <%= object.person.sub(/\s/, "<br />").html_safe %>
    <% else %>
      <%= "#{object.surname} #{object.name} #{object.patronymic}" %>
    <% end %>
    <span class='phones'>
      <%= object.phones %>
    </span>
    <span class='emails'>
      <%= object.emails.map{|email| mail_to(email)}.join(', ').html_safe if object.emails %>
    </span>
  </div>
</div>

