<div class='meeting_list_protocols'>
  <ul>
    <% unless @events.blank? %>
      <% @events.each do |e| %>
        <li>
          <div class='date'>
            <p>
              <%= I18n.l(e.dtstart, :format => '%d %B %Y %H:%M') %>&ndash;<%= I18n.l(e.dtend, :format => '%H:%M') %>
            </p>
            <p>
              <%= e.location %>
            </p>
          </div>
          <div class='title'>
            <%= e.summary %>
            <%= simple_format e.description %>
          </div>
          <ul class='attachments'>
            <% if e.attach.present? %>
              <% e.attach.each do |a| %>
                <li>
                  <%= link_to URI.decode(a.path), :class => "#{Calendar.mime_type_by_path(a.path)}" do %>
                    <span class='icon'></span>
                    <%= Calendar.filename_by_path(a.path) %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% else %>
      <li>Повесток и протоколов не найдено</li>
    <% end %>
  </ul>
  <%= paginate @events %>
</div>
