<h1><%= object.title %></h1>

<div class='right_side'>
  <% archive_html = archive_links([@content_first, @content_second, @content_third]) %>
  <%= render(:partial => 'regions/right_side') %>
  <% unless archive_html.blank? %>
    <%= content_tag :div, archive_html, :class => "events_archive archive" %>
  <% end %>
</div>

<% if object.items.any? %>
  <div class='entries_list index'>
    <ul>
      <% object.items.each_with_index do |item, index| %>
        <li>
          <div class='date'><%= l Date.parse(item.since), :format => :long %></div>
          <div class='title'><%= link_to item.title, item.link, :title => item.title %></div>
          <%= content_tag :div, item.annotation.to_s.as_html, :class => :annotation if item.annotation.present? %>
        </li>
      <% end %>
    </ul>
    <% if object.pagination %>
      <% @array = object.items %>
      <% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page) %>
      <%= paginate @array, :outer_window => 3 %>
    <% end %>
  </div>
<% end %>
