<div class='protocols'>
  <h4>Предстоящие заседания</h4>
  <ul>
    <% unless @events.blank? %>
      <% @events.first(3).each do |e| %>
        <li>
          <div class='date'>
            <p>
              <%= I18n.l(e.dtstart, :format => '%d %B %Y %H:%M') %>&ndash;<%= I18n.l(e.dtend, :format => '%H:%M') %>
            </p>
            <p>
              <%= e.location %>
            </p>
          </div>
          <div class='title'>
            <%= link_to e.summary, e.resources.first, :target => '_blank' %>
          </div>
          <div class="description">
            <%= simple_format e.description %>
          </div>
        </li>
      <% end %>
    <% else %>
      <li>Нет актуальной информации</li>
    <% end %>
  </ul>
  <% if params["path"].present? %>
    <p class ='calendar_link'><a href='<%= Calendar.calendar_url(params["path"].split('/')[2]) %>'>Календарь</a></p>
  <% end %>
</div>
